h1{
    text-align: center;
    padding: 5%;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    margin: 5%;
    margin-top: 0%;
}

h2{
    text-align: center;
    padding: 5%;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
}
